# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environment
venv/
.env
*.env

# Logs
logs/
*.log

# Django stuff
staticfiles/
media/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3
.env
.env.*
media/
staticfiles/
logs/
*.log
