name: Deploy Django API

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup SSH
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.SERVER_SSH_KEY }}

      - name: Deploy to server
        run: |
          ssh -o StrictHostKeyChecking=no \
          ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_HOST }} << 'EOF'

          cd /home/allicomt/domains/api.allicomtourism.com/api_app

          echo "Pulling latest code..."
          git pull origin main

          echo "Activating virtualenv..."
          source /home/allicomt/virtualenv/api_app/3.11/bin/activate

          echo "Installing requirements..."
          pip install -r requirements.txt

          echo "Running migrations..."
          python manage.py migrate --noinput

          echo "Collecting static files..."
          python manage.py collectstatic --noinput

          echo "Restarting application..."
          touch tmp/restart.txt

          EOF
